<div id="admin-appartment-menu" class="btn-toolbar admin-menu" role="toolbar">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"
                onclick="window.location.href='/admin/appartments/lux'">ЛЮКС
        </button>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"
                onclick="window.location.href='/admin/appartments/standart'">СТАНДАРТ
        </button>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-default"
                onclick="window.location.href='/admin/appartments/econom'">ЭКОНОМ
        </button>
    </div>
</div>