<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<header class="top_header">
    <div class="header_top_line">
        <div class="container">
            <div class="col-lg-12">
                <div class="row">
                    <div class="top_links">

                            <span sec:authorize="isAuthenticated()">
                                <span class="account_icon">
                                <a th:href="@{/my-account}"><i class="fa fa-user-o"
                                                               aria-hidden="true"></i></a>
                                </span>

                            <span sec:authentication="name">
                            </span>
                        </span>

                        <a th:href="@{''(language=ru_RU)}"><img th:src="@{/resources/img/ru.png}" alt="ru"></a>
                        <a th:href="@{''(language=en_US)}"><img th:src="@{/resources/img/en.png}" alt="en"></a>

                        <span sec:authorize="isAuthenticated()">
                            <form hidden id="logout" th:action="@{/logout}" method="post"></form>

                            <a class="logout" onclick="logout.submit();" th:text="#{header.logout}"></a>
                        </span>

                        <span sec:authorize="isAnonymous()">
                            <a th:href="@{/login}" th:text="#{header.login}"></a>
                            <span class="delimiter"> / </span>
                            <a th:href="@{/registration}" th:text="#{header.registration}"></a>
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>