<!DOCTYPE html>

<header>
    <div class="header_top_line">
        <div class="container">
            <div class="col-lg-12">
                <div class="row">
                    <div class="top_links">

                        <div class="account_icon">
                            <a href="#"><i class="fa fa-user-o"
                                           aria-hidden="true"></i></a>
                        </div>
                        login

                        <a class="logout" href="#">Выход</a>

                        <a href="#">Вход</a>
                        <span class="delimiter"> / </span>
                        <a href="#">Регистрация</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>