<div class="container" id="user-menu">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar admin-menu" role="toolbar">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default"
                            onclick="window.location.href='/home'">ДОМОЙ
                    </button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">БРОНИРОВАНИЯ</button>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-default">ЗАКАЗЫ ЕДЫ</button>
                </div>
            </div>
        </div>
    </div>
</div>