<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>hotels</title>

    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/fonts.css"/>
    <link rel="stylesheet" href="/resources/css/main.css"/>
    <link rel="stylesheet"
          href="/resources/libs/font-awesome-4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/resources/libs/owl-carousel/owl.carousel.css"/>
</head>

<body>
<script src="/resources/libs/jquery/jquery-1.11.1.min.js"></script>
<script src="/resources/libs/owl-carousel/owl.carousel.min.js"></script>
<script src="/resources/js/common.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<div class="wrapper">

    <div class="top_header" th:insert="~{fragments/header :: header}"></div>

    <div class="content">

        <div th:insert="~{fragments/admin-account-menu :: #admin-menu}"></div>

        <div class="container">

            <div class="col-md-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">АППАРТАМЕНТЫ</div>
                    <div class="panel-body">

                        <div class="col-md-12">

                            <div th:insert="~{fragments/admin-appartments-menu :: #admin-appartment-menu}"></div>

                            <div class="panel panel-warning">
                                <div class="panel-body">

                                    <table class="table">
                                        <tr>
                                            <th>Id</th>
                                            <th>Name</th>
                                            <th>Hotel name</th>
                                            <th>Guest counts</th>
                                            <th>Cost per day</th>
                                            <th>Image</th>
                                            <th>Options</th>
                                            <th></th>
                                        </tr>
                                        <tr th:each="appartment : ${appartments}">
                                            <td th:text="${appartment.id}"></td>
                                            <td th:text="${appartment.name}"></td>
                                            <td th:text="${appartment.hotel.name}"></td>
                                            <td th:text="${appartment.guestsCounts}"></td>
                                            <td th:text="${appartment.costPerDay}"></td>
                                            <td><img class="item-image img-rounded" th:src="${appartment.image}"></td>
                                            <td>
                                                <ul>
                                                    <li>Wi-Fi :
                                                        <span th:text="${appartment.wiFi} ? 'Есть' : 'Нет'"></span>
                                                    </li>
                                                    <li>TV :
                                                        <span th:text="${appartment.appartmentsType.compareTo('lux')} ? (${appartment.appartmentsType.compareTo('standart')} ? 'Нет' : (${appartment.tv} ? 'Есть' : 'Нет')) : (${appartment.tv} ? 'Есть' : 'Нет')"></span>
                                                    </li>
                                                    <li>WC :
                                                        <span th:text="${appartment.appartmentsType.compareTo('lux')} ? (${appartment.appartmentsType.compareTo('standart')} ? 'Нет' : (${appartment.wc} ? 'Есть' : 'Нет')) : (${appartment.wc} ? 'Есть' : 'Нет')"></span>
                                                    </li>
                                                    <li>Бар :
                                                        <span th:text="${appartment.appartmentsType.compareTo('lux')} ? 'Нет' : (${appartment.bar} ? 'Есть' : 'Нет')"></span>
                                                    </li>
                                                    <li>Кухня :
                                                        <span th:text="${appartment.appartmentsType.compareTo('lux')} ? 'Нет' : (${appartment.kitchen} ? 'Есть' : 'Нет')"></span>
                                                    </li>
                                                </ul>
                                            </td>
                                            <td><a class="btn btn-default"
                                                   th:href="@{'/admin/appartments/update/' + ${appartment.id} + '/' + ${appartment.appartmentsType}}"
                                                   role="button">Update</a>
                                                <a class="btn btn-default"
                                                   th:href="@{'/admin/appartments/delete/' + ${appartment.id} + '/' + ${appartment.appartmentsType}}"
                                                   role="button">Delete</a></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                <a class="btn btn-default"
                                                   th:href="@{'/admin/appartments/create/' + ${appartments.get(0).appartmentsType}}"
                                                   role="button">Создать</a>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
