<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.driver_class">org.h2.Driver</property>
    <property name="dialect">org.hibernate.dialect.H2Dialect</property>
    <property name="connection.url">jdbc:h2:mem:EmployeeDao</property>
    <property name="connection.username">sa</property>
    <property name="connection.password"/>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hbm2ddl.auto">create-drop</property>

    <mapping class="com.mnazarenka.dao.entity.Appartment"/>
    <mapping class="com.mnazarenka.dao.entity.EconomApartment"/>
    <mapping class="com.mnazarenka.dao.entity.StandartAppartment"/>
    <mapping class="com.mnazarenka.dao.entity.LuxAppartment"/>
    <mapping class="com.mnazarenka.dao.entity.Hotel"/>
    <mapping class="com.mnazarenka.dao.entity.Restaurant"/>
    <mapping class="com.mnazarenka.dao.entity.User"/>
    <mapping class="com.mnazarenka.dao.entity.Role"/>
    <mapping class="com.mnazarenka.dao.entity.Dish"/>
    <mapping class="com.mnazarenka.dao.entity.DishOrders"/>
    <mapping class="com.mnazarenka.dao.entity.DishOrdersDetails"/>
  </session-factory>
</hibernate-configuration>