<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>hotels</title>

    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/fonts.css"/>
    <link rel="stylesheet" href="/resources/css/main.css"/>
    <link rel="stylesheet"
          href="/resources/libs/font-awesome-4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/resources/libs/owl-carousel/owl.carousel.css"/>
</head>

<body>
<script src="/resources/libs/jquery/jquery-1.11.1.min.js"></script>
<script src="/resources/libs/owl-carousel/owl.carousel.min.js"></script>
<script src="/resources/js/common.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<div class="wrapper">

    <div class="top_header" th:insert="~{fragments/header :: header}"></div>

    <div class="content">

    </div>

    <div class="container">

        <div class="col-md-12">
            <div class="panel  panel-warning">
                <div class="panel-heading">ПОЛЬЗОВАТЕЛИ</div>
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="panel  panel-warning">
                            <div class="panel-body">
                                <form th:action="@{/admin/users/update}" method="post" th:object="${user}">
                                    <table class="table">
                                        <tr>
                                            <th>Id</th>
                                            <th>Login</th>
                                            <th>Password</th>
                                            <th>Role</th>
                                            <th></th>
                                        </tr>
                                        <tr>
                                            <td th:text="${user.id}"></td>
                                            <td th:text="${user.login}"></td>
                                            <td th:text="${user.password}"></td>
                                            <td th:text="${#strings.capitalize(#strings.toLowerCase(user.role.name))}"></td>
                                            <td><a class="btn btn-default" th:href="@{/admin/users}"
                                                   role="button">Отмена</a></td>
                                        </tr>
                                        <tr>
                                            <td><input th:field="*{id}" th:value="${user.id}" hidden></td>
                                            <td><input class="form-control" type="text" th:field="*{login}" required></td>
                                            <td><input class="form-control" type="password" th:field="*{password}" required></td>
                                            <td>
                                                <select class="form-control" name="roleId">
                                                    <option th:each="role : ${roles}" th:text="${role.name}"
                                                            th:value="${role.id}"></option>
                                                </select>
                                            </td>
                                            <td>
                                                <button class="btn btn-default" type="submit">Обновить</button>
                                        </tr>
                                    </table>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
