<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>hotels</title>

    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/fonts.css"/>
    <link rel="stylesheet" href="/resources/css/main.css"/>
    <link rel="stylesheet"
          href="/resources/libs/font-awesome-4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/resources/libs/owl-carousel/owl.carousel.css"/>
</head>

<body>
<script src="/resources/libs/jquery/jquery-1.11.1.min.js"></script>
<script src="/resources/libs/owl-carousel/owl.carousel.min.js"></script>
<script src="/resources/js/common.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<div class="wrapper">

    <div class="top_header" th:insert="~{fragments/header :: header}"></div>

    <div class="content">

        <div th:insert="~{fragments/admin-account-menu :: #admin-menu}"></div>

        <div class="container">

            <div class="col-md-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">ЗАКАЗ</div>
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="panel panel-warning">
                                <div class="panel-body">
                                    <form th:action="@{/user/orders/update}" method="post" th:object="${order}">
                                        <table class="table">
                                            <tr>
                                                <th>Id</th>
                                                <th>Start date</th>
                                                <th>End date</th>
                                                <th>Appartment</th>
                                                <th>Status</th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <td th:text="${order.id}"></td>
                                                <td th:text="${order.startDate}"></td>
                                                <td th:text="${order.endDate}"></td>
                                                <td th:text="${order.appartment.name}"></td>
                                                <td th:text="${order.status}"></td>
                                                <td>
                                                    <a class="btn btn-default"
                                                       th:href="@{'/user/account/orders'}">Отмена</a></td>
                                            </tr>
                                            <tr>
                                                <td><input hidden type="text" name="orderId" th:value="${order.id}"></td>
                                                <td><input class="form-control" type="date" name="startDate"
                                                           required></td>
                                                <td><input class="form-control" type="date" name="endDate"
                                                           required></td>
                                                <td></td>
                                                <td></td>

                                                <td>
                                                    <button class="btn btn-default" type="submit">Обновить</button>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
