<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>hotels</title>

    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/fonts.css"/>
    <link rel="stylesheet" href="/resources/css/main.css"/>
    <link rel="stylesheet"
          href="/resources/libs/font-awesome-4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/resources/libs/owl-carousel/owl.carousel.css"/>
</head>

<body>
<script src="/resources/libs/jquery/jquery-1.11.1.min.js"></script>
<script src="/resources/libs/owl-carousel/owl.carousel.min.js"></script>
<script src="/resources/js/common.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>

<div class="wrapper">

    <div class="top_header" th:insert="~{fragments/header :: header}"></div>

    <div class="content">

    </div>

    <div th:insert="~{fragments/user-main-menu :: #user-menu}"></div>

    <div class="container">
        <div class="col-md-12">

            <div class="panel panel-warning">

                <div th:insert="~{fragments/user-appartments-menu :: #user-appartment-menu}"></div>

                <div class="panel-body">
                    <div class="col-md-12" th:each="appartment : ${appartments}">
                        <div class="panel  panel-warning">
                            <div class="panel-body">
                                <span th:text="${appartment.name}"></span>
                                <span th:text="${appartment.appartmentsType}"></span>
                            </div>
                            <div class="panel-footer">
                                <table class="table">
                                    <tr>
                                        <td rowspan="3">
                                            <img th:src="${appartment.image}"  class="img-rounded item-image">
                                        </td>
                                        <td>Колическтво гостей : <span th:text="${appartment.guestsCounts}"></span></td>
                                        <td rowspan="3" class="text-center"><a th:href="@{'/user/rent/' + ${appartment.id}}" class="btn btn-info btn-lg">ЗАБРАНИРОВАТЬ</a></td>
                                    </tr>
                                    <tr>
                                        <td>Стоимость за сутки : <span th:text="${appartment.costPerDay}"></span></td>
                                    </tr>
                                    <tr>
                                        <td> <ul>
                                            <li th:text="${appartment.appartmentsType.compareTo('lux')} ? (${appartment.appartmentsType.compareTo('standart')} ? 'none' : ${appartment.tv}) : ${appartment.tv}"> </li>
                                            <li>asdasdds </li>
                                        </ul> </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li><a th:href="@{'/user/rent/' + ${appartments.get(0).appartmentsType}+ '/1'}">1</a></li>
                            <li><a a th:href="@{'/user/rent/' + ${appartments.get(0).appartmentsType}+ '/2'}">2</a></li>
                            <li><a a th:href="@{'/user/rent/' + ${appartments.get(0).appartmentsType}+ '/3'}">3</a></li>
                            <li><a a th:href="@{'/user/rent/' + ${appartments.get(0).appartmentsType}+ '/4'}">4</a></li>
                        </ul>
                    </nav></div>


            </div>

        </div>
    </div>

    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
