<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>hotels</title>

    <link href="/resources/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/resources/css/fonts.css"/>
    <link rel="stylesheet" href="/resources/css/main.css"/>
    <link rel="stylesheet"
          href="/resources/libs/font-awesome-4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/resources/libs/owl-carousel/owl.carousel.css"/>
</head>

<body>
<script src="/resources/libs/jquery/jquery-1.11.1.min.js"></script>
<script src="/resources/libs/owl-carousel/owl.carousel.min.js"></script>
<script src="/resources/js/common.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>

<div class="wrapper">

    <div class="top_header" th:insert="~{fragments/header :: header}"></div>

    <div class="content">

    </div>

    <div th:insert="~{fragments/user-main-menu :: #user-menu}"></div>

    <div class="container">
        <div class="col-md-12">
            <div class="panel panel-warning">

                <div class="panel-body">
                    БЛЮДА
                </div>
                <div class="panel-footer">
                    <form th:action="@{'/user/dishes'}" method="post">
                        <table class="table">
                            <!--<tr>
                                <th>Номер</th>
                                <th>Название</th>
                                <th>Конечная дата</th>
                                <th>Статус</th>
                                <th></th>
                            </tr>-->
                            <tr th:each="dish : ${dishes}">

                                <td th:text="${dish.id}"></td>
                                <td th:text="${dish.name}"></td>
                                <td><img class="item-image img-rounded" th:src="${dish.image}"></td>
                                <td>
                                    <input hidden type="number" name="dishId" th:value="${dish.id}">
                                    <input type="number" name="dishCount">

                                    <button class="btn btn-default">Заказать</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
